In [6]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv("../data/external/train.csv")
print("Dataset size: ",data.shape)
data.head(2)

Dataset size:  (4250, 20)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no

In [24]:
x=data.drop('churn',axis=1)
y=data[['churn']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1,stratify=y)
x_week1, x_week2, y_week1, y_week2 = train_test_split(x_test, y_test, test_size=0.5, random_state=1)

train=pd.concat([x_train,y_train],axis=1)
test_week1=pd.concat([x_week1,y_week1],axis=1)
test_week2=pd.concat([x_week2,y_week2],axis=1)

train.to_csv("../data/raw/train.csv",index=False)
test_week1.to_csv("../data/raw/test_week1.csv",index=False)
test_week2.to_csv("../data/raw/test_week2.csv",index=False)

print("Train dataset size: ",train.shape)
print("Week1 dataset size: ",test_week1.shape)
print("Week2 dataset size: ",test_week2.shape)

Train dataset size:  (2975, 20)
Week1 dataset size:  (637, 20)
Week2 dataset size:  (638, 20)